@charset "ISO-8859-1";

body { /* background: #008000; */
		background-image: url("../resources/images/field.png");
		/* background-size: 100% 950px; */
		background-size: 100% 100%;
}
.container { 
	background: white; 
	width: 50%;
	height: auto; 
	padding-top: 30px;
	margin-top: 50px;
}

.main {
	width:60%; 
	margin-left:20%;
	margin-top: 30px; 
}
a:link {
    text-decoration: none;
}
.page-title { 
	font-size: 3.2em; 
	padding-top: 10px;
}
.main-nav {
	padding-bottom: 50px;
}
.pnum { text-align: center; }
.pname { background: rgb(231, 231, 228); }
.main-graphic {
	background-image: url("../resources/images/ball.png");
	background-repeat: no-repeat;
	 background-position: 50% 70%; 
}
table thead th { background: rgb(203, 203, 200); }
caption { font-size: 180%; }


